metadata.csv -filter -diff -merge -text
*.csv filter=lfs diff=off merge=lfs -text
*.ipynb filter=strip-notebook-metadata diff=strip-notebook-metadata
*.pdf filter=lfs diff=off merge=lfs -text
*.svg filter=lfs diff=off merge=lfs -text
*.p filter=lfs diff=off merge=lfs -text
*.nk filter=lfs diff=off merge=lfs -text
*.zip filter=lfs diff=off merge=lfs -text
nextflow/data/** filter=lfs diff=off merge=lfs -text
nextflow/results/** filter=lfs diff=off merge=lfs -text
analysis/output/** filter=lfs diff=off merge=lfs -text
passenger/output/** filter=lfs diff=off merge=lfs -text
