manifest {
    description = 'gcreplay analysis workflow configuration'
    nextflowVersion = '>= 20.07.0'
}

workDir = '/fh/fast/matsen_e/shared/replay/pipeline-cache'

trace {
    overwrite = true
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,hash,name,status,exit,realtime,%cpu,rss,workdir'
}

report {
    overwrite = true
    enabled = true
}

dag.overwrite = true

profiles {
    
    docker {
        docker.enabled = true
    }

    grabnode_local {

        apptainer{
            enabled = true
            autoMounts = true
            cacheDir = '/fh/fast/matsen_e/shared/replay/pipeline-cache'
            runOptions = '--containall --no-home -B ${TMPDIR}:/tmp'
        }

        process {
            env.TMPDIR="\$TMPDIR"
            cpus = 4
            memory = 4.GB
            time = '1h'
        }

    }

    gizmo_slurm {

        apptainer {
            enabled = true
            autoMounts = true
            cacheDir = '/fh/fast/matsen_e/shared/replay/pipeline-cache'
            runOptions = '--containall --no-home -B ${TMPDIR}:/tmp'
        }

        process {
            env.TMPDIR="\$TMPDIR"
            executor = 'slurm'
            queue = 'short'
            clusterOptions = '-A matsen_e'
            cpus = 4
            memory = 4.GB
            time = '1h'
        }
    }
}
