*.ipynb filter=strip-notebook-metadata diff=strip-notebook-metadata
*.pdf filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
*.p filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
results/2022-03-28/gctrees/PR1.*GC/L*.svg filter=lfs diff=lfs merge=lfs -text
results/2022-03-28/gctrees/PR1.*GC/delta*.svg filter=lfs diff=lfs merge=lfs -text
results/2022-03-28/gctrees/PR1.*GC/gctree.p filter=lfs diff=lfs merge=lfs -text
results/2022-03-28/merged-results/*.csv filter=lfs diff=lfs merge=lfs -text
