manifest {
    description = 'gcreplay analysis workflow'
    nextflowVersion = '>= 20.07.0'
}


profiles {
    
    quokka {
 
        // trace {
        //    enabled = true
        //    file = 'pipeline_trace.txt'
        //    fields = 'task_id,name,status,exit,realtime,%cpu,rss,workdir'
        //}

        trace {
            fields = 'task_id,name,status,exit,realtime,%cpu,rss,workdir'
        }

        singularity {
            enabled = true
            autoMounts = true
            runOptions = '--containall --no-home'
            cacheDir = 'containers/'
        }

    }
   
    docker {
        docker.enabled = true
        process.cpus = 4
    }

    ermine {

        
        trace {
            overwrite = true
            enabled = true
            file = 'pipeline_trace.txt'
            fields = 'task_id,name,status,exit,realtime,%cpu,rss,workdir'
        }

        report {
            overwrite = true
            enabled = true
        }

        apptainer {
            enabled = true
            autoMounts = true
            cacheDir = '/hpc/temp/matsen_e/jgallowa/containers'
            runOptions = ''
        }

    }

    fred_hutch_rhino {
        
        trace {
            overwrite = true
            enabled = true
            file = 'pipeline_trace.txt'
            fields = 'task_id,name,status,exit,realtime,%cpu,rss,workdir'
        }

        report {
            overwrite = true
            enabled = true
        }

        apptainer {
            enabled = true
            autoMounts = true
            cacheDir = '/fh/scratch/delete30/matsen_e/jgallowa/containers'
            runOptions = ''
        }

        process {
            //maxRetries = 3
            //errorStrategy = 'retry'
            executor = 'slurm'
            //queue = 'restart-new'
            queue = 'campus-new'
            //clusterOptions = '-A matsen_e --qos=restart'
            clusterOptions = '-A matsen_e'
            cpus = 4
            memory = 4.GB
            time = '2h'

            withLabel: small {
                cpus = 1
                memory= 2.GB
                time = '5m'
            }

            withLabel: threaded {
                cpus = 16
                memory = 16.GB
                time = '5h'
            }

            withLabel: longtime {
                cpus = 8
                memory = 8.GB
                time = '5h'
            }

            withLabel: multithread { 
                cpus = 8    
                memory = 16.GB
                time = '5h'
            }

            withLabel: small_multithread { 
                cpus = 4    
                memory = 2.GB
                time = '5m'
            }

            withLabel: mem_large { 
                memory = 48.GB 
                time = '4h'
            }

            withLabel: large { 
                cpus = 24
                memory = 16.GB 
                time = '5h'
            }
        }
    }
}
