manifest {
    description = 'gcreplay analysis workflow'
    nextflowVersion = '>= 20.07.0'
}

// PIPELINE KNOBS
params{
    foo = false
}

profiles {

    
    standard {}
   
    docker {
        docker.enabled = true
    }

    fred_hutch_rhino {
 
        trace {
            enabled = true
            file = 'pipeline_trace.txt'
            fields = 'task_id,name,status,exit,realtime,%cpu,rss,workdir'
        }

        singularity {
            enabled = true
            autoMounts = true
            //runOptions = '-W /tmp/'
            runOptions = '--contain -W /tmp/'
            cacheDir = '/fh/scratch/delete30/matsen_e/jgallowa/temp/containers/'
        }

        process {
            executor = 'slurm'
            queue = 'campus-new'
            cpus = 4
            memory = 4.GB
            time = '2h'
            clusterOptions = '-A matsen_e --exclude=gizmok114,gizmoj30'
            withLabel: multithread { 
                cpus = 8    
                memory = 8.GB
            }
            withLabel: mem_large { memory = 32.GB }
        }
    }
}
