manifest {
    description = 'gcreplay analysis workflow configuration'
    nextflowVersion = '>= 20.07.0'
}

workDir = '/fh/scratch/delete90/matsen_e/nextflow/work/'

trace {
    overwrite = true
    enabled = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,hash,name,status,exit,realtime,%cpu,rss,workdir'
}

report {
    overwrite = true
    enabled = true
}

profiles {
    
    docker {
        docker.enabled = true
    }

    grabnode_local {

        apptainer{
            enabled = true
            autoMounts = true
            cacheDir = '/fh/scratch/delete90/matsen_e/jgallowa/containers'
            runOptions = '--containall --no-home -B ${TMPDIR}:/tmp'
        }

        process {
            env.TMPDIR="\$TMPDIR"
            cpus = 4
            memory = 4.GB
            time = '1h'
            // errorStrategy = 'retry'
            // maxRetries = 3
        }

    }

    gizmo_slurm {

        apptainer {
            enabled = true
            autoMounts = true
            cacheDir = '/fh/scratch/delete90/matsen_e/jgallowa/containers'
            runOptions = '--containall --no-home -B ${TMPDIR}:/tmp'
        }

        process {
            env.TMPDIR="\$TMPDIR"
            executor = 'slurm'
            queue = 'short'
            clusterOptions = '-A matsen_e'
            cpus = 4
            memory = 4.GB
            time = '1h'
            errorStrategy = 'retry'
            maxRetries = 3
        }
    }
}
